<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div>hello</div>
    <div>
        <form action="/home/" method="POST">
            <input type="text" name="username">
            <input type="text" name="age">
            <input type="text" name="gender">
            <input type="submit" value="提交">
        </form>
    </div>
    <table>

        {% for row in user_list %}
        <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.gender }}</td>
        </tr>
        {%  endfor %}
    </table>
</body>
</html>