<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主机管理</title>
    <style>
        .shade{
            position:fixed;
            top:0;
            right:0;
            left:0;
            bottom: 0;
            background-color: cornflowerblue;
            opacity: 0.6;
            z-index:5;

        }
        .hide{
            display:none;
        }

        .add-modal,.edit-modal{
            position: fixed;
            top: 100px;
            width:400px;
            height:300px;
            border:2px solid rosybrown;
            background-color: antiquewhite;
            margin-left:500px;
            z-index:6;
        }


    </style>
</head>
<body>
<h1>主机管理</h1>
<div>
    <input type="button" value="添加" id="t1">
</div>
<table border="1">
    <thead>
        <tr>
            <th>序号</th>
            <th>主机管理</th>
            <th>IP</th>
            <th>PORT</th>
            <th>所属部门</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for row in v %}
        <tr hid="{{ row.uid }}" bid="{{ row.b_id }}">
            <td>{{ forloop.counter }}</td>
            <td>{{ row.hostname }}</td>
            <td>{{ row.ip }}</td>
            <td>{{ row.port }}</td>
            <td>{{ row.b.caption }}</td>
            <td>
                <a class="edit">编辑</a> |
                <a class="delete">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="shade hide"></div>
<div class="add-modal hide">
    <form method="POST" action="/app01/host/">
        <div class="group">
            <input id="host" type="text" placeholder="主机名" name="hostname">
        </div>
        <div class="group">
            <input id="ip" type="text" placeholder="IP" name="ip">
        </div>
        <div class="group">
            <input id="port" type="text" placeholder="端口" name="port">
        </div>
        <div class="group">
            <select id="sel" name="b_id">
                {% for op in b_list %}
                <option value="{{ op.id }}">{{ op.caption }}</option>
                {% endfor %}

            </select>
        </div>
        <input type="submit" value="提交">
        <a id="ajax_submit" style="display: inline-block;padding: 5px;background: blue;color: white;">悄悄提交</a>
        <input type="button" value="取消" id="t2">
        <span id="error_msg" style="color:red;font: 8px"></span>
    </form>
</div>

<div class="edit-modal hide">
    <form id="edit_form" method="POST" action="/app01/host/">
            <input type="text" style="display:none" name="nid">
            <input type="text" placeholder="主机名" name="hostname">
            <input type="text" placeholder="IP" name="ip">
            <input type="text" placeholder="端口" name="port">
            <select name="b_id">
                {% for op in b_list %}
                <option value="{{ op.id }}">{{ op.caption }}</option>
                {% endfor %}
            </select>
        <input type="submit" value="提交">
        <input type="button" value="取消" id="t3">
        <a id="ajax_submit" style="display: inline-block;padding: 5px;background: blue;color: white;">确认编辑</a>

    </form>
</div>
<script src="/static/jquery-1.12.4.js"></script>
<script>
    $("#t1").click(function () {
        $(".shade").removeClass("hide");
        $(".add-modal").removeClass("hide");
    });

    $("#t2,#t3").click(function () {
        $(".shade").addClass("hide");
        $(".add-modal").addClass("hide");
    });

    $("#ajax_submit").click(function(){
        $.ajax({
            url:"/app01/test_ajax/",
            type:'POST',
            data:{'hostname':$('#host').val(),'ip':$('#ip').val(),'port':$('#port').val(),'b_id':$('#sel').val()},
            success:function(data){
                var obj = JSON.parse(data);
                if(obj.status){
                    location.reload();
                }else{
                    $('#error_msg').text(obj.error);
                }
            }
        })
    })

    $(".edit").click(function(){
       $('.shade,.edit-modal').removeClass('hide');

        var bid = $(this).parent().parent().attr('bid');
        var nid = $(this).parent().parent().attr('hid');

        $('#edit_form').find('select').val(bid);
        $('#edit_form').find('input[name="nid"]').val(nid);

        $.ajax({
            data:$('#edit_form').serialize()
        })
    });

</script>

</body>
</html>